.user-image {
    height: 20%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.user-info {
    display: flex;
    justify-content: center;
    text-align: center;
}

.user-photo {
    height: 20%;
    width: auto;
    position: absolute;
}